flows/CRM Workflow Leads.json
{
  "name": "CRM Workflow Leads",
  "nodes": [
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appjsUaPrbH6ph7cB",
          "cachedResultUrl": "https://airtable.com/appjsUaPrbH6ph7cB",
          "cachedResultName": "Lead Information Table"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblVXEWTj7dErmNsa",
          "cachedResultUrl": "https://airtable.com/appjsUaPrbH6ph7cB/tblVXEWTj7dErmNsa",
          "cachedResultName": "Leads"
        },
        "columns": {
          "value": {
            "Call Status": "COMPLETED",
            "Appointment booked": "2025-04-30T13:34:17"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true
            },
            {
              "id": "ID",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "First Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Last Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Phone Number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Created Time",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Created Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Full Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Domain",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Email Domain",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Language",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Primary Language",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "Male",
                  "value": "Male"
                },
                {
                  "name": "Female",
                  "value": "Female"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Gender",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Call Status",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "COMPLETED",
                  "value": "COMPLETED"
                },
                {
                  "name": "NOT_REACHED",
                  "value": "NOT_REACHED"
                },
                {
                  "name": "ANSWERED",
                  "value": "ANSWERED"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Call Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow-up required",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "true",
                  "value": "true"
                },
                {
                  "name": "false",
                  "value": "false"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Follow-up required",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment booked",
              "type": "dateTime",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Appointment booked",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "841f3921-5cb9-47f3-9c4c-a9d11ebc4176",
      "name": "Update CRM contact with call_status COMPLETED",
      "type": "n8n-nodes-base.airtable",
      "position": [
        520,
        680
      ],
      "typeVersion": 2.1,
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "4d9daf3c-31d5-4c7c-b3de-c07c35c7b0df",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "=nieuwe-aanvraag-kwalificeren"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nieuwe-aanvraag-kwalificeren"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "44cd9898-8e1c-4de3-af4e-fa825de1e704",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "klant-adviseren",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "klant-adviseren"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b51f7598-1156-49da-a455-f89566ec30c9",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "klant-adviseren-opvolgen",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "klant-adviseren-opvolgen"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "id": "83b80e43-d835-4a0b-a3ee-9e9521d7714a",
      "name": "Route based on call_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        -720,
        500
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "content": "#Example note\n\nonderstaande als backup",
        "height": 120,
        "width": 200
      },
      "id": "cb082134-a2b1-4afa-84e8-d577abe41518",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        520,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/leads/1/notes",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment",
              "value": "=Dit is een notitie voor de lead - {{ $json.body.status }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        440
      ],
      "id": "68180e55-9771-431c-8c46-3f61caa48708",
      "name": "Add Note to lead"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://crm/api/leads/{{ $json.lead_id }}/activities",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "meeting"
            },
            {
              "name": "title",
              "value": "Klant data bijwerken"
            },
            {
              "name": "description",
              "value": "1. Koppel contact persoon. 2. Werk eventueel NAV gegevens bij"
            },
            {
              "name": "schedule_from",
              "value": "={{ $now.format('yyyy-MM-dd hh:mm:ss') }}"
            },
            {
              "name": "schedule_to",
              "value": "={{ $now.plus(7, 'days').format('yyyy-MM-dd hh:mm:ss') }}"
            },
            {
              "name": "group_id",
              "value": "={{ $json.group_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        880
      ],
      "id": "4a42c9cd-501c-4a9c-9a2b-59887da02cff",
      "name": "Add task - klant data bijwerken"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://crm/api/leads/{{ $json.lead_id }}/stage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_pipeline_stage_id",
              "value": "={{ $json.newLeadStatusId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        360
      ],
      "id": "758b1751-2b3f-489b-b3e4-981b0811acbc",
      "name": "Update status lead"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0de7745d-64c8-410b-9d23-f98f4b9c3787",
        "options": {}
      },
      "id": "2abeb3dd-f3e2-42be-81fd-515b18ec89f1",
      "name": "Webhook - lead status change",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1080,
        600
      ],
      "webhookId": "0de7745d-64c8-410b-9d23-f98f4b9c3787",
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "4d9daf3c-31d5-4c7c-b3de-c07c35c7b0df",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body.activity.title }}",
                    "rightValue": "=Klant data bijwerken"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "klant data bijwerken -> done"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "id": "74ddd2ea-d786-418d-9cec-ad09325bef64",
      "name": "Route on task title",
      "type": "n8n-nodes-base.switch",
      "position": [
        -840,
        900
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  return {\n    json: {\n      ...item.json,\n      newLeadStatusId: 2,\n      lead_id: item.json.body.activity.lead_id\n    }\n  };\n});\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        900
      ],
      "id": "78f21426-f460-4184-94da-93b839afd6c2",
      "name": "newLeadStatusId 3"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  return {\n    json: {\n      ...item.json,\n      newLeadStatusId: 1,\n      lead_id: item.json.body.entity_id,\n      source_code_id: item.json.source_code_id\n    }\n  };\n});\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        360
      ],
      "id": "af47da6a-ceff-4bc4-b8de-c56910c97c91",
      "name": "department"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af450eaa-fd20-4007-ba69-1abf085a7c1d",
              "leftValue": "={{ $json.body.department }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -880,
        600
      ],
      "id": "0717999e-4d4c-40a9-bd1a-7851679e9876",
      "name": "department not null"
    },
    {
      "parameters": {
        "url": "=http://crm/api/groups/byDepartment/{{$json.body.department}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        980
      ],
      "id": "f8ece683-245c-45da-a3e1-6ed810d92566",
      "name": "Find group by Department"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -140,
        880
      ],
      "id": "214b14fd-58d2-4019-b277-317ff682b961",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn [\n  {\n    json: {\n      ...items[0].json, // webhook item\n      ...items[1].json, // data item (overschrijft waar nodig)\n      lead_id: items[0].json.body.entity_id,\n      group_id: items[1].json.data.id\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        880
      ],
      "id": "c4200c02-c75d-4134-b9e7-3c0966c74d7c",
      "name": "set lead_id and group_id"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7dd5d03e-3f85-493d-a589-01fb66f7b210",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1080,
        900
      ],
      "id": "4da7c2bb-e58c-425e-98d7-51f4551188c8",
      "name": "Webhook - task done",
      "webhookId": "7dd5d03e-3f85-493d-a589-01fb66f7b210"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://crm/api/leads/{{ $json.lead_id }}/activities",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "meeting"
            },
            {
              "name": "title",
              "value": "Klant bellen voor advies"
            },
            {
              "name": "description",
              "value": "1. Adviseer de klant en koppel dit terug in het systeem. Zet de taak op down, zodra: 1. .. 2.. "
            },
            {
              "name": "schedule_from",
              "value": "={{ $now.format('yyyy-MM-dd hh:mm:ss') }}"
            },
            {
              "name": "schedule_to",
              "value": "={{ $now.plus(7, 'days').format('yyyy-MM-dd hh:mm:ss') }}"
            },
            {
              "name": "group_id",
              "value": "={{ $json.group_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        1200
      ],
      "id": "41516c1b-2f53-407a-bf79-140ab60c9097",
      "name": "Add task - klant data bijwerken1"
    },
    {
      "parameters": {
        "url": "=http://crm/api/groups/byDepartment/{{$json.body.department}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        1300
      ],
      "id": "9132ae60-1e97-45b1-9913-d1c5e7f8fed5",
      "name": "Find group by Department1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -40,
        1200
      ],
      "id": "326cb33b-e005-496b-9d8c-76bcfbd19b94",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn [\n  {\n    json: {\n      ...items[0].json, // webhook item\n      ...items[1].json, // data item (overschrijft waar nodig)\n      lead_id: items[0].json.body.entity_id,\n      group_id: items[1].json.data.id\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        1200
      ],
      "id": "b9341028-9c3c-4027-b3b9-eb18d39452cc",
      "name": "set lead_id and group_id1"
    }
  ],
  "pinData": {},
  "connections": {
    "Route based on call_status": {
      "main": [
        [
          {
            "node": "department",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find group by Department",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find group by Department1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update status lead": {
      "main": [
        []
      ]
    },
    "Webhook - lead status change": {
      "main": [
        [
          {
            "node": "department not null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route on task title": {
      "main": [
        [
          {
            "node": "newLeadStatusId 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "newLeadStatusId 3": {
      "main": [
        [
          {
            "node": "Update status lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "department": {
      "main": [
        [
          {
            "node": "Update status lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "department not null": {
      "main": [
        [
          {
            "node": "Route based on call_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find group by Department": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "set lead_id and group_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set lead_id and group_id": {
      "main": [
        [
          {
            "node": "Add task - klant data bijwerken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - task done": {
      "main": [
        [
          {
            "node": "Route on task title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find group by Department1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "set lead_id and group_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set lead_id and group_id1": {
      "main": [
        [
          {
            "node": "Add task - klant data bijwerken1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3e81ea0e-bcd5-4c06-b8d4-8593298bcd74",
  "meta": {
    "instanceId": "8d3e22640ea03faebf2e7f52d8406cd7615b83cdb309f1d4e35d0b03b1178db3"
  },
  "id": "DJ5nOZqGRB2ECqzt",
  "tags": []
}