flows/Flow Leads.json
{
  "name": "Flow Leads",
  "nodes": [
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appjsUaPrbH6ph7cB",
          "cachedResultUrl": "https://airtable.com/appjsUaPrbH6ph7cB",
          "cachedResultName": "Lead Information Table"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblVXEWTj7dErmNsa",
          "cachedResultUrl": "https://airtable.com/appjsUaPrbH6ph7cB/tblVXEWTj7dErmNsa",
          "cachedResultName": "Leads"
        },
        "columns": {
          "value": {
            "Call Status": "COMPLETED",
            "Appointment booked": "2025-04-30T13:34:17"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true
            },
            {
              "id": "ID",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "First Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Last Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Phone Number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Created Time",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Created Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Full Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Domain",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Email Domain",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Language",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Primary Language",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "Male",
                  "value": "Male"
                },
                {
                  "name": "Female",
                  "value": "Female"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Gender",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Call Status",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "COMPLETED",
                  "value": "COMPLETED"
                },
                {
                  "name": "NOT_REACHED",
                  "value": "NOT_REACHED"
                },
                {
                  "name": "ANSWERED",
                  "value": "ANSWERED"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Call Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow-up required",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "true",
                  "value": "true"
                },
                {
                  "name": "false",
                  "value": "false"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Follow-up required",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment booked",
              "type": "dateTime",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Appointment booked",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3cbbf530-5174-4546-8dc3-b75fd50d4d08",
      "name": "Update CRM contact with call_status COMPLETED",
      "type": "n8n-nodes-base.airtable",
      "position": [
        64,
        512
      ],
      "typeVersion": 2.1,
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b51f7598-1156-49da-a455-f89566ec30c9",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "klant-adviseren-opvolgen",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "klant-adviseren-opvolgen"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "4d9daf3c-31d5-4c7c-b3de-c07c35c7b0df",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "=nieuwe-aanvraag-kwalificeren"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nieuwe-aanvraag-kwalificeren"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7dafe14b-ff6d-4e11-8fa9-77e6878fdd59",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "klant-adviseren-zonder-mri-hernia",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "zonder-MRI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "02ac07b0-ba78-46fe-8196-a10553ea11ea",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "klant-adviseren-met-mri-hernia",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "met-MRI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "44cd9898-8e1c-4de3-af4e-fa825de1e704",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "klant-adviseren-start",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "klant-adviseren"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4f80cb6b-a5b3-4c47-95ba-66ff390f2dae",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "won",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "won"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "id": "80d9159e-0b33-45bb-96f4-8ccd1aa6210b",
      "name": "Route based on call_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1776,
        448
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "content": "#Example note\n\nonderstaande als backup",
        "height": 120,
        "width": 200
      },
      "id": "2a2fad8a-00d6-4e0b-a74e-bac294bee2aa",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/leads/1/notes",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment",
              "value": "=Dit is een notitie voor de lead - {{ $json.body.status }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        272
      ],
      "id": "a36bcd06-3418-46cc-8cd5-e12a602bbd82",
      "name": "Add Note to lead"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0de7745d-64c8-410b-9d23-f98f4b9c3787",
        "options": {}
      },
      "id": "407966f7-1f8f-47d6-bb54-68f7ca05d000",
      "name": "Webhook - lead status change",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -2224,
        464
      ],
      "webhookId": "0de7745d-64c8-410b-9d23-f98f4b9c3787",
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "4d9daf3c-31d5-4c7c-b3de-c07c35c7b0df",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body.activity.title }}",
                    "rightValue": "=Klant data bijwerken"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "klant data bijwerken -> done"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5a9b5194-5107-4098-9e71-0826d54dacbb",
                    "leftValue": "={{ $json.body.activity.title }}",
                    "rightValue": "=Klant bellen voor advies",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Klant bellen voor advies -> done"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "id": "1a52bbe0-88a8-4bc9-bc3a-b2c049e67560",
      "name": "Route on task title",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1968,
        1600
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  return {\n    json: {\n      ...item.json,\n      lead_id: item.json.body.activity.lead_id\n    }\n  };\n});\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1744,
        1600
      ],
      "id": "f6445880-6d9a-43ad-8089-88533b11a6c3",
      "name": "newLeadStatusId 3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af450eaa-fd20-4007-ba69-1abf085a7c1d",
              "leftValue": "={{ $json.body.department }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2000,
        464
      ],
      "id": "010a9935-4969-42e0-bebe-a2f3ffcd59fb",
      "name": "department not null"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7dd5d03e-3f85-493d-a589-01fb66f7b210",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2176,
        1600
      ],
      "id": "b6eb007a-6ee6-41ea-8a46-5aff7a27affb",
      "name": "Webhook - task done",
      "webhookId": "7dd5d03e-3f85-493d-a589-01fb66f7b210"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nreturn {\n  json: {\n    lead_id: body.entity_id ?? null,\n    task_title: (body.status || 'Klant bellen voor advies')\n      .replace(/-/g, ' ')\n      .replace(/\\b\\w/g, c => c.toUpperCase()),\n    task_description: ''\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        1216
      ],
      "id": "6d05462a-e513-4005-9fec-29810509b3bf",
      "name": "set lead_id and group_id1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://crm/api/sales-leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "3!LvFF3HNTUGz*E^X@cu"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{ $json.lead_id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1904,
        944
      ],
      "id": "0ae96eea-1712-422d-8f26-9495e201dddb",
      "name": "Add lead workflow"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  return {\n    json: {\n      ...item.json,\n      lead_id: item.json.body.entity_id,\n      source_code_id: item.json.source_code_id\n    }\n  };\n});\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2128,
        944
      ],
      "id": "368c0314-c60a-4f8a-97fc-beb3201e0bae",
      "name": "lead_id"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nreturn {\n  json: {\n    lead_id: body.entity_id ?? null,\n    task_title: (body.status || 'Klant data bijwerken')\n      .replace(/-/g, ' ')\n      .replace(/\\b\\w/g, c => c.toUpperCase()),\n    task_description: ''\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        992
      ],
      "id": "4fde4b6f-2d01-4b29-beae-1318008e1d08",
      "name": "set lead_id and group_id"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FoL6phxyuOVrAwz5",
          "mode": "list",
          "cachedResultName": "Create Task"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_title",
              "displayName": "task_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "task_description",
              "displayName": "task_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "group_id",
              "displayName": "group_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "task_type",
              "displayName": "task_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -512,
        592
      ],
      "id": "57eab30a-c3fa-4e7f-8d11-aa6d091bb1d1",
      "name": "Create task"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nreturn {\n  json: {\n    lead_id: body.entity_id ?? null,\n    task_title: (body.status || 'Order verzenden')\n      .replace(/-/g, ' ')\n      .replace(/\\b\\w/g, c => c.toUpperCase()),\n    task_description: ''\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        768
      ],
      "id": "f32055a5-327d-4921-b5b2-3e6dea6c8a5c",
      "name": "set lead_id and group_id2"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://crm/api/leads/{{ $json.lead_id }}/next_stage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "3!LvFF3HNTUGz*E^X@cu"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1392,
        1600
      ],
      "id": "e24a9cb7-9077-4075-961f-289b1b4fa630",
      "name": "put lead into next stage"
    },
    {
      "parameters": {
        "content": "## Task done\nZodra er een taak van een lead is afgevinkt, dan wordt de lead in de volgende status gezet.",
        "height": 120,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2224,
        1760
      ],
      "id": "e3c5cd5b-9434-4239-9e55-6bd33812cddd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Lead Status change\n- maak taak aan op basis van nieuwe status\n- Maak backoffice status aan bij lead status won",
        "height": 120,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2240,
        640
      ],
      "id": "d50b0615-35ce-41db-8a08-c8db848bf9f7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "**Order verzenden**",
        "height": 80,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1072,
        704
      ],
      "id": "48aeaa36-23e7-4f06-949f-43e713b74325",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "**Klant data bijwerken**",
        "height": 80,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1088,
        928
      ],
      "id": "ddd8e401-e541-428f-8f80-61c46910f2c9",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "**Klant bellen voor advies**",
        "height": 80,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1072,
        1152
      ],
      "id": "e5741c30-675c-411f-9790-6c0651cc3814",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nreturn {\n  json: {\n    lead_id: body.entity_id ?? null,\n    task_title: (body.status || 'MRI aanleveren')\n      .replace(/-/g, ' ')\n      .replace(/\\b\\w/g, c => c.toUpperCase()),\n    task_description: ''\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        544
      ],
      "id": "d66a1ad5-da70-4eb0-b4c5-811dc3fa26fb",
      "name": "set lead_id and group_id3"
    },
    {
      "parameters": {
        "content": "**MRI aanleveren**",
        "height": 80,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1072,
        480
      ],
      "id": "cce03068-29d6-4bb2-a7b2-b2020aa370df",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nreturn {\n  json: {\n    lead_id: body.entity_id ?? null,\n    task_title: (body.status || 'Klant adviseren met MRI beelden')\n      .replace(/-/g, ' ')\n      .replace(/\\b\\w/g, c => c.toUpperCase()),\n    task_description: ''\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        320
      ],
      "id": "8c66755c-a80f-4cbd-9322-0f81af5c065a",
      "name": "set lead_id and group_id4"
    },
    {
      "parameters": {
        "content": "**Adviseren opvolgen met MRI beelden**",
        "height": 80,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1056,
        272
      ],
      "id": "97c47013-2ba3-496f-b5b3-5ad872d5244c",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nreturn {\n  json: {\n    lead_id: body.entity_id ?? null,\n    task_title: (body.status || 'Klant adviseren opvolgen')\n      .replace(/-/g, ' ')\n      .replace(/\\b\\w/g, c => c.toUpperCase()),\n    task_description: ''\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        96
      ],
      "id": "0cf34fb6-e930-46d8-9000-948135451497",
      "name": "set lead_id and group_id5"
    },
    {
      "parameters": {
        "content": "**Adviseren opvolgen met MRI beelden**",
        "height": 80,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1056,
        48
      ],
      "id": "e88a6a98-9829-41f6-95d0-a63d72e4f77e",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {},
  "connections": {
    "Route based on call_status": {
      "main": [
        [
          {
            "node": "set lead_id and group_id5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set lead_id and group_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set lead_id and group_id3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set lead_id and group_id4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set lead_id and group_id1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_id",
            "type": "main",
            "index": 0
          },
          {
            "node": "set lead_id and group_id2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - lead status change": {
      "main": [
        [
          {
            "node": "department not null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route on task title": {
      "main": [
        [
          {
            "node": "newLeadStatusId 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "newLeadStatusId 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "newLeadStatusId 3": {
      "main": [
        []
      ]
    },
    "department not null": {
      "main": [
        [
          {
            "node": "Route based on call_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - task done": {
      "main": [
        [
          {
            "node": "Route on task title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set lead_id and group_id1": {
      "main": [
        [
          {
            "node": "Create task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_id": {
      "main": [
        [
          {
            "node": "Add lead workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set lead_id and group_id": {
      "main": [
        [
          {
            "node": "Create task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set lead_id and group_id2": {
      "main": [
        [
          {
            "node": "Create task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set lead_id and group_id3": {
      "main": [
        [
          {
            "node": "Create task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set lead_id and group_id4": {
      "main": [
        [
          {
            "node": "Create task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set lead_id and group_id5": {
      "main": [
        [
          {
            "node": "Create task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b8dec605-a3e1-48ab-873f-67f0a4417ee4",
  "meta": {
    "instanceId": "45c47f08e808fd2653debf4d6f1fd9a260925f4fa8b93d3546f78a446a69f1ca"
  },
  "id": "ozPyPwYmzB3nWofB",
  "tags": []
}