flows/Flow Leads.json
{
  "name": "flow leads",
  "nodes": [
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appjsUaPrbH6ph7cB",
          "cachedResultUrl": "https://airtable.com/appjsUaPrbH6ph7cB",
          "cachedResultName": "Lead Information Table"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblVXEWTj7dErmNsa",
          "cachedResultUrl": "https://airtable.com/appjsUaPrbH6ph7cB/tblVXEWTj7dErmNsa",
          "cachedResultName": "Leads"
        },
        "columns": {
          "value": {
            "Call Status": "COMPLETED",
            "Appointment booked": "2025-04-30T13:34:17"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true
            },
            {
              "id": "ID",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "First Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Last Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Phone Number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Created Time",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Created Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Full Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Domain",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Email Domain",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Language",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Primary Language",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "Male",
                  "value": "Male"
                },
                {
                  "name": "Female",
                  "value": "Female"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Gender",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Call Status",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "COMPLETED",
                  "value": "COMPLETED"
                },
                {
                  "name": "NOT_REACHED",
                  "value": "NOT_REACHED"
                },
                {
                  "name": "ANSWERED",
                  "value": "ANSWERED"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Call Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow-up required",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "true",
                  "value": "true"
                },
                {
                  "name": "false",
                  "value": "false"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Follow-up required",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment booked",
              "type": "dateTime",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Appointment booked",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8da8d98d-a901-4198-ac33-e0697cc9dff6",
      "name": "Update CRM contact with call_status COMPLETED",
      "type": "n8n-nodes-base.airtable",
      "position": [
        680,
        420
      ],
      "typeVersion": 2.1,
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "4d9daf3c-31d5-4c7c-b3de-c07c35c7b0df",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "=nieuwe-aanvraag-kwalificeren"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nieuwe-aanvraag-kwalificeren"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "44cd9898-8e1c-4de3-af4e-fa825de1e704",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "klant-adviseren",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "klant-adviseren"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b51f7598-1156-49da-a455-f89566ec30c9",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "klant-adviseren-opvolgen",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "klant-adviseren-opvolgen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4f80cb6b-a5b3-4c47-95ba-66ff390f2dae",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "won",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "won"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "id": "80e3531a-30cf-4fe0-8d7e-2708e729a87d",
      "name": "Route based on call_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1160,
        360
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "content": "#Example note\n\nonderstaande als backup",
        "height": 120,
        "width": 200
      },
      "id": "b3c60c9c-a8d1-4f4c-86c2-d33a3bf643af",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        680,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/leads/1/notes",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment",
              "value": "=Dit is een notitie voor de lead - {{ $json.body.status }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        180
      ],
      "id": "80cb3db1-db13-4f48-ad56-813dfb3382e2",
      "name": "Add Note to lead"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0de7745d-64c8-410b-9d23-f98f4b9c3787",
        "options": {}
      },
      "id": "94d662f9-78fe-449d-90ac-a48e3b02f5d6",
      "name": "Webhook - lead status change",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1600,
        380
      ],
      "webhookId": "0de7745d-64c8-410b-9d23-f98f4b9c3787",
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "4d9daf3c-31d5-4c7c-b3de-c07c35c7b0df",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body.activity.title }}",
                    "rightValue": "=Klant data bijwerken"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "klant data bijwerken -> done"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5a9b5194-5107-4098-9e71-0826d54dacbb",
                    "leftValue": "={{ $json.body.activity.title }}",
                    "rightValue": "=Klant bellen voor advies",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Klant bellen voor advies -> done"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "id": "71aade6c-1ebe-479d-8bcf-ea8595561b7d",
      "name": "Route on task title",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1340,
        1520
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  return {\n    json: {\n      ...item.json,\n      lead_id: item.json.body.activity.lead_id\n    }\n  };\n});\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        1520
      ],
      "id": "369456cf-9ed5-4b6a-a90b-1900cbbafc65",
      "name": "newLeadStatusId 3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af450eaa-fd20-4007-ba69-1abf085a7c1d",
              "leftValue": "={{ $json.body.department }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1380,
        380
      ],
      "id": "6b1b2d4f-3de3-401b-8df3-963b578a51a7",
      "name": "department not null"
    },
    {
      "parameters": {
        "url": "=http://crm/api/groups/byDepartment/{{$json.body.department}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -940,
        920
      ],
      "id": "14c38c3f-1817-4092-be36-cc012fe81338",
      "name": "Find group by Department"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -720,
        860
      ],
      "id": "e832727e-d89d-46d1-bfe9-a0022a82d673",
      "name": "Merge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7dd5d03e-3f85-493d-a589-01fb66f7b210",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1560,
        1520
      ],
      "id": "3f0e2f84-286c-4ffd-9f8c-3cbcf99e7868",
      "name": "Webhook - task done",
      "webhookId": "7dd5d03e-3f85-493d-a589-01fb66f7b210"
    },
    {
      "parameters": {
        "url": "=http://crm/api/groups/byDepartment/{{$json.body.department}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -940,
        1220
      ],
      "id": "a5a0bce0-970b-4809-b293-b58fb78dcce4",
      "name": "Find group by Department1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -720,
        1160
      ],
      "id": "ee98abae-dc24-46e5-b457-e22a34f23401",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn [\n  {\n    json: {\n      ...items[0].json, // webhook item\n      ...items[1].json, // data item (overschrijft waar nodig)\n      lead_id: items[0].json.body.entity_id,\n      group_id: items[1].json.data.id,\n      task_title: 'Klant bellen voor advies',\n      task_description: '1. Adviseer de klant en koppel dit terug in het systeem. Zet de taak op down, zodra: 1. .. 2.. '\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        1160
      ],
      "id": "7e77abd1-1ee3-447f-b3e1-a011eb7571cd",
      "name": "set lead_id and group_id1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://crm/api/workflow-leads",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{ $json.lead_id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        300
      ],
      "id": "5250819e-084d-4b7c-baf1-d6c213f9dba5",
      "name": "Add lead workflow"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  return {\n    json: {\n      ...item.json,\n      lead_id: item.json.body.entity_id,\n      source_code_id: item.json.source_code_id\n    }\n  };\n});\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -940,
        300
      ],
      "id": "c41d6564-0a97-423b-a86c-689e35bb7bab",
      "name": "lead_id"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn [\n  {\n    json: {\n      ...items[0].json, // webhook item\n      ...items[1].json, // data item (overschrijft waar nodig)\n      lead_id: items[0].json.body.entity_id,\n      group_id: items[1].json.data.id,\n      task_title: 'Klant data bijwerken',\n      task_description: '1. Koppel contact persoon. 2. Werk eventueel NAV gegevens bij'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        860
      ],
      "id": "cce5b155-8ebf-472d-a5b8-66d07cf896de",
      "name": "set lead_id and group_id"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NPfjupzlLSnFXidF",
          "mode": "list",
          "cachedResultName": "create task"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -280,
        860
      ],
      "id": "8254a228-73a5-4ca0-ac6e-03f0bfe914d1",
      "name": "Create task"
    },
    {
      "parameters": {
        "url": "=http://crm/api/groups/byDepartment/{{$json.body.department}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -940,
        620
      ],
      "id": "5ebda185-ea79-47e1-8b2d-312f64025cfe",
      "name": "Find group by Department2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -720,
        560
      ],
      "id": "d3982129-3a94-493b-986e-161904e9b34d",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn [\n  {\n    json: {\n      ...items[0].json, // webhook item\n      ...items[1].json, // data item (overschrijft waar nodig)\n      lead_id: items[0].json.body.entity_id,\n      group_id: items[1].json.data.id,\n      task_title: 'Order verzenden',\n      task_description: '1. Samenstellen order; 2. Samenstellen mail in de juist taal met de bijlages (GVL, kaarten). 3. versturen '\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        560
      ],
      "id": "a62e9a22-002a-4d25-b011-9dc7e79b419c",
      "name": "set lead_id and group_id2"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://crm/api/leads/{{ $json.lead_id }}/next_stage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -900,
        1520
      ],
      "id": "55a6f085-b94f-4ebf-b72f-4e9f3cd4cf32",
      "name": "put lead into next stage"
    }
  ],
  "pinData": {},
  "connections": {
    "Route based on call_status": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find group by Department",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find group by Department1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "lead_id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find group by Department2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - lead status change": {
      "main": [
        [
          {
            "node": "department not null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route on task title": {
      "main": [
        [
          {
            "node": "newLeadStatusId 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "newLeadStatusId 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "newLeadStatusId 3": {
      "main": [
        [
          {
            "node": "put lead into next stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "department not null": {
      "main": [
        [
          {
            "node": "Route based on call_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find group by Department": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "set lead_id and group_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - task done": {
      "main": [
        [
          {
            "node": "Route on task title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find group by Department1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "set lead_id and group_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set lead_id and group_id1": {
      "main": [
        [
          {
            "node": "Create task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_id": {
      "main": [
        [
          {
            "node": "Add lead workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set lead_id and group_id": {
      "main": [
        [
          {
            "node": "Create task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find group by Department2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "set lead_id and group_id2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set lead_id and group_id2": {
      "main": [
        [
          {
            "node": "Create task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "b8PHf3zTNTQZsSzB",
    "timezone": "Europe/Paris",
    "executionTimeout": -1
  },
  "versionId": "81f802bd-6ad1-48af-bb22-206d35022b42",
  "meta": {
    "instanceId": "04a589aba7becd1dde047957b525fc8163605bfcbd5c7304b882c2d0f7b90473"
  },
  "id": "o3XLElkWyy0rFiDw",
  "tags": []
}