flows/Flow Leads.json
{
  "name": "Flow Leads",
  "nodes": [
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appjsUaPrbH6ph7cB",
          "cachedResultUrl": "https://airtable.com/appjsUaPrbH6ph7cB",
          "cachedResultName": "Lead Information Table"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblVXEWTj7dErmNsa",
          "cachedResultUrl": "https://airtable.com/appjsUaPrbH6ph7cB/tblVXEWTj7dErmNsa",
          "cachedResultName": "Leads"
        },
        "columns": {
          "value": {
            "Call Status": "COMPLETED",
            "Appointment booked": "2025-04-30T13:34:17"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true
            },
            {
              "id": "ID",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "First Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Last Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Phone Number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Created Time",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Created Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Full Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Domain",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Email Domain",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Language",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Primary Language",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "Male",
                  "value": "Male"
                },
                {
                  "name": "Female",
                  "value": "Female"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Gender",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Call Status",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "COMPLETED",
                  "value": "COMPLETED"
                },
                {
                  "name": "NOT_REACHED",
                  "value": "NOT_REACHED"
                },
                {
                  "name": "ANSWERED",
                  "value": "ANSWERED"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Call Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow-up required",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "true",
                  "value": "true"
                },
                {
                  "name": "false",
                  "value": "false"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Follow-up required",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment booked",
              "type": "dateTime",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Appointment booked",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3cbbf530-5174-4546-8dc3-b75fd50d4d08",
      "name": "Update CRM contact with call_status COMPLETED",
      "type": "n8n-nodes-base.airtable",
      "position": [
        60,
        500
      ],
      "typeVersion": 2.1,
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "4d9daf3c-31d5-4c7c-b3de-c07c35c7b0df",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "=nieuwe-aanvraag-kwalificeren"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nieuwe-aanvraag-kwalificeren"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "44cd9898-8e1c-4de3-af4e-fa825de1e704",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "klant-adviseren",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "klant-adviseren"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b51f7598-1156-49da-a455-f89566ec30c9",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "klant-adviseren-opvolgen",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "klant-adviseren-opvolgen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4f80cb6b-a5b3-4c47-95ba-66ff390f2dae",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "won",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "won"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "id": "80d9159e-0b33-45bb-96f4-8ccd1aa6210b",
      "name": "Route based on call_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1780,
        440
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "content": "#Example note\n\nonderstaande als backup",
        "height": 120,
        "width": 200
      },
      "id": "2a2fad8a-00d6-4e0b-a74e-bac294bee2aa",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        60,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/leads/1/notes",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment",
              "value": "=Dit is een notitie voor de lead - {{ $json.body.status }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        260
      ],
      "id": "a36bcd06-3418-46cc-8cd5-e12a602bbd82",
      "name": "Add Note to lead"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0de7745d-64c8-410b-9d23-f98f4b9c3787",
        "options": {}
      },
      "id": "407966f7-1f8f-47d6-bb54-68f7ca05d000",
      "name": "Webhook - lead status change",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -2220,
        460
      ],
      "webhookId": "0de7745d-64c8-410b-9d23-f98f4b9c3787",
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "4d9daf3c-31d5-4c7c-b3de-c07c35c7b0df",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body.activity.title }}",
                    "rightValue": "=Klant data bijwerken"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "klant data bijwerken -> done"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5a9b5194-5107-4098-9e71-0826d54dacbb",
                    "leftValue": "={{ $json.body.activity.title }}",
                    "rightValue": "=Klant bellen voor advies",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Klant bellen voor advies -> done"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "id": "1a52bbe0-88a8-4bc9-bc3a-b2c049e67560",
      "name": "Route on task title",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1960,
        1600
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  return {\n    json: {\n      ...item.json,\n      lead_id: item.json.body.activity.lead_id\n    }\n  };\n});\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1740,
        1600
      ],
      "id": "f6445880-6d9a-43ad-8089-88533b11a6c3",
      "name": "newLeadStatusId 3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af450eaa-fd20-4007-ba69-1abf085a7c1d",
              "leftValue": "={{ $json.body.department }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2000,
        460
      ],
      "id": "010a9935-4969-42e0-bebe-a2f3ffcd59fb",
      "name": "department not null"
    },
    {
      "parameters": {
        "url": "=http://crm/api/groups/byDepartment/{{$json.body.department}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1560,
        1000
      ],
      "id": "13a140e2-e8cb-4447-b059-4ccabe54ab5c",
      "name": "Find group by Department"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1340,
        940
      ],
      "id": "756fddc2-8ff2-47b3-8133-2f7f945e9669",
      "name": "Merge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7dd5d03e-3f85-493d-a589-01fb66f7b210",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2180,
        1600
      ],
      "id": "b6eb007a-6ee6-41ea-8a46-5aff7a27affb",
      "name": "Webhook - task done",
      "webhookId": "7dd5d03e-3f85-493d-a589-01fb66f7b210"
    },
    {
      "parameters": {
        "url": "=http://crm/api/groups/byDepartment/{{$json.body.department}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1560,
        1300
      ],
      "id": "4af4828a-6e16-4ce3-9c87-ab79d35193d7",
      "name": "Find group by Department1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1340,
        1240
      ],
      "id": "2c9efa34-1e46-4659-8798-713e42077e00",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn [\n  {\n    json: {\n      ...items[0].json, // webhook item\n      ...items[1].json, // data item (overschrijft waar nodig)\n      lead_id: items[0].json.body.entity_id,\n      group_id: items[1].json.data.id,\n      task_title: 'Klant bellen voor advies',\n      task_type: 'call',\n      task_description: '1. Adviseer de klant en koppel dit terug in het systeem. Zet de taak op down, zodra: 1. .. 2.. '\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        1240
      ],
      "id": "6d05462a-e513-4005-9fec-29810509b3bf",
      "name": "set lead_id and group_id1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://crm/api/workflow-leads",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{ $json.lead_id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1340,
        380
      ],
      "id": "0ae96eea-1712-422d-8f26-9495e201dddb",
      "name": "Add lead workflow"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  return {\n    json: {\n      ...item.json,\n      lead_id: item.json.body.entity_id,\n      source_code_id: item.json.source_code_id\n    }\n  };\n});\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1560,
        380
      ],
      "id": "368c0314-c60a-4f8a-97fc-beb3201e0bae",
      "name": "lead_id"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn [\n  {\n    json: {\n      ...items[0].json, // webhook item\n      ...items[1].json, // data item (overschrijft waar nodig)\n      lead_id: items[0].json.body.entity_id,\n      group_id: items[1].json.data.id,\n      task_title: 'Klant data bijwerken',\n      task_description: '1. Koppel contact persoon. 2. Werk eventueel NAV gegevens bij'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        940
      ],
      "id": "4fde4b6f-2d01-4b29-beae-1318008e1d08",
      "name": "set lead_id and group_id"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FoL6phxyuOVrAwz5",
          "mode": "list",
          "cachedResultName": "Create Task"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_title",
              "displayName": "task_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "task_description",
              "displayName": "task_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "group_id",
              "displayName": "group_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "task_type",
              "displayName": "task_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -900,
        940
      ],
      "id": "57eab30a-c3fa-4e7f-8d11-aa6d091bb1d1",
      "name": "Create task"
    },
    {
      "parameters": {
        "url": "=http://crm/api/groups/byDepartment/{{$json.body.department}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1560,
        700
      ],
      "id": "dda058c9-288f-47e4-a4e8-1801c84b3574",
      "name": "Find group by Department2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1340,
        640
      ],
      "id": "d2e448ec-de7d-445b-b48d-705c81d992d6",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn [\n  {\n    json: {\n      ...items[0].json, // webhook item\n      ...items[1].json, // data item (overschrijft waar nodig)\n      lead_id: items[0].json.body.entity_id,\n      group_id: items[1].json.data.id,\n      task_title: 'Order verzenden',\n      task_description: '1. Samenstellen order; 2. Samenstellen mail in de juist taal met de bijlages (GVL, kaarten). 3. versturen '\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        640
      ],
      "id": "f32055a5-327d-4921-b5b2-3e6dea6c8a5c",
      "name": "set lead_id and group_id2"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://crm/api/leads/{{ $json.lead_id }}/next_stage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1520,
        1600
      ],
      "id": "e24a9cb7-9077-4075-961f-289b1b4fa630",
      "name": "put lead into next stage"
    }
  ],
  "pinData": {},
  "connections": {
    "Route based on call_status": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find group by Department",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find group by Department1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "lead_id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find group by Department2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - lead status change": {
      "main": [
        [
          {
            "node": "department not null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route on task title": {
      "main": [
        [
          {
            "node": "newLeadStatusId 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "newLeadStatusId 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "newLeadStatusId 3": {
      "main": [
        [
          {
            "node": "put lead into next stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "department not null": {
      "main": [
        [
          {
            "node": "Route based on call_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find group by Department": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "set lead_id and group_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - task done": {
      "main": [
        [
          {
            "node": "Route on task title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find group by Department1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "set lead_id and group_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set lead_id and group_id1": {
      "main": [
        [
          {
            "node": "Create task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_id": {
      "main": [
        [
          {
            "node": "Add lead workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set lead_id and group_id": {
      "main": [
        [
          {
            "node": "Create task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find group by Department2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "set lead_id and group_id2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set lead_id and group_id2": {
      "main": [
        [
          {
            "node": "Create task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b99f2ce6-2992-47f0-9aa8-f717adb5c2ca",
  "meta": {
    "instanceId": "45c47f08e808fd2653debf4d6f1fd9a260925f4fa8b93d3546f78a446a69f1ca"
  },
  "id": "ozPyPwYmzB3nWofB",
  "tags": []
}